@tailwind base;
@tailwind components;
@tailwind utilities;



.nav-link.active {
  @apply text-blue-600 font-bold border-b-2 border-blue-600;
}

.cta-button {
  @apply bg-gradient-to-r from-blue-700 to-blue-500 text-white px-6 py-3 rounded-md transition duration-300;
}

.cta-button:hover {
  @apply from-blue-800 to-blue-600;
}

.cta-button-secondary {
  @apply bg-gray-800 text-white px-6 py-3 rounded-md border border-white transition duration-300;
}

.cta-button-secondary:hover {
  @apply bg-gray-700;
}


.mobile-nav-link {
  @apply block px-6 py-3 hover:bg-blue-100 transition duration-300;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float ease-in-out infinite;
}

.glass-card {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
}

@keyframes pulse {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.8;
  }

  100% {
    opacity: 0.4;
  }
}